<!-- <ion-header>
  <ion-navbar color="secondary"> 
  <ion-toolbar color="embCor">
    <ion-title text-center>CÓDIGO DO AUDITOR <ion-icon name="code-working"></ion-icon></ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
  </ion-navbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary"> 
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title text-center>CÓDIGO DO AUDITOR <ion-icon name="code-working"></ion-icon></ion-title>
  </ion-toolbar> 
</ion-header>
<ion-content class="ion-padding">
    <div *ngIf="!hideForm">
        <ion-grid>
            <form [formGroup]="form" (ngSubmit)="savePonto()">                    
                <ion-item-group>
                    <ion-item>
                        <ion-input type="text" placeholder="digite o código" formControlName="userid"></ion-input>
                        
                    </ion-item>
                    <ion-item>
                        <ion-col size="12">
                            <ion-button color="primary" expand="full" fill="solid" routerLink="/home"routerDirection="root">Salvar </ion-button>
                        </ion-col>
                    </ion-item>
                
                </ion-item-group>
            
                <ion-item-group style="display: none;">                 
                    <ion-item>
                        <ion-input type="text" formControlName="codepath" style="display:none;"></ion-input>
                    </ion-item>
                    

                </ion-item-group>
            
            </form>   
    </ion-grid>             
    </div>
</ion-content>