<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meu Ponto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisaData()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Ano</ion-label>
        <ion-select class="spaceSelect" [(ngModel)]="ano" name="ano">
          <ion-select-option *ngFor="let ano of meuPonto?.anos;" value="{{ano.ano}}">{{ano.ano}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>Mês</ion-label>
        <ion-select class="spaceSelect" [(ngModel)]="mes" name="mes">
          <ion-select-option *ngFor="let mes of monthNames;" value="{{mes.month}}">{{mes.mes}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</div>



<ion-list class="ion-padding-top">
    <ion-row>
    <ion-col>
      <ion-item>
        <div class = "row responsive-sm">
          <div class = "col col-center">Total dias<br> {{ coutDay }}</div>
        </div>
      </ion-item >
    </ion-col>
    <ion-col>
      <ion-item>
        <div class = "row responsive-sm">
          <div>Total Horas/mês<br>{{ totalHours }}</div>
        </div> 
      </ion-item >
    </ion-col>
  </ion-row>

  <ion-item *ngFor="let ponto of meuPonto.posts">

    <ion-grid>

    <ion-row>

      <ion-col>

        Dia<br> {{ponto.dia}}
      </ion-col>

      <ion-col>

        Entrada<br> {{ponto.entrada}}
      </ion-col>

      <ion-col>

        Saída<br> {{ponto.saida}}
      </ion-col>

      <ion-col>

        Hora/dia<br> {{ponto.diferenca}}
      </ion-col>
    
    </ion-row>
  </ion-grid> 

  </ion-item>
  
</ion-list>

<div *ngIf="meuPonto.posts?.length<=0" class="ion-padding-top">
  <p class="semPonto ion-text-center">
    Sem marcações disponíveis...
  </p>
</div>
</ion-content>