<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

        <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Sipmov</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <br><br>

  <div>
      
    <br><br>

      <!--Torna visíveis as msgs de enviado com sucesso ou excluido com sucesso com base em variaveis boolean-->
      <!--<div *ngIf="hideForm">

          <ion-item class="post-entry-message ion-text-wrap" *ngIf="!isDeleted">

              <br> <br>
              <h1>Informações enviadas com sucesso.</h1>
          </ion-item>

          <ion-item class="post-entry-message ion-text-wrap" *ngIf="isDeleted">
          
            <br> <br>
              <h1>Seus dados foram excluídos com sucesso.</h1>
          </ion-item>
      </div> -->

      <div *ngIf="!hideForm">

          <form [formGroup]="form" (ngSubmit)="savePonto()">

            <ion-grid>
                
              <ion-item-group>
                  
                  <ion-item>

                      <img [src]="currentImage">
                      <input type="hidden" name="image" formControlName="image">
                  </ion-item>
                
                  
                  <ion-item>
                      
                      <ion-col size="12">
                      <ion-item button color="primary" (click)="takePhotograph()"
                          type="button">
                          <ion-label class="ion-text-center"><ion-icon name="camera"></ion-icon> REGISTRAR</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-item>
                

              </ion-item-group>

              <ion-item-group>
                  
                  <ion-item>
                  
                  </ion-item>
              </ion-item-group>

              <ion-item-group *ngIf="isEdited">

                  <ion-item-divider color="light">Data da Criação: {{date}}</ion-item-divider>

                  <ion-input type="text" formControlName="date" style="display:none;"></ion-input>

                  <ion-input type="text" formControlName="postid" style="display:none;">
                  </ion-input>
              </ion-item-group>

              <ion-item-group style="display:none;">
                  <ion-item-divider color="light"></ion-item-divider>
                  <ion-item>
                      <ion-input type="text" formControlName="userid" show-hide-input
                          style="display:none;"></ion-input>

                  </ion-item>
              </ion-item-group>

              <ion-item-group style="display:none;">
                  
                  <ion-item>
                      <ion-input type="text" formControlName="codepath"
                          style="display:none;"></ion-input>

                  </ion-item>
              </ion-item-group>

              <ion-item-group>
                  
                  <ion-item>

                      <ion-col size="12">
                      <ion-item button color="secondary" (click)="setUploadStatus('upload'); savePonto();">
                      
                        <ion-label class="ion-text-center"><ion-icon name="locate"></ion-icon> SALVAR</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-item>

              </ion-item-group>
            </ion-grid>
          </form>
      </div>
  </div>
</ion-content>

<ion-footer>

  <ion-toolbar>

    <ion-title class="ion-text-center"><ion-label>&copy; 2020 <br> Equipe de Desenvolvimento IPM</ion-label></ion-title>
  </ion-toolbar>
</ion-footer>