<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">IPM - DIGITAL </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img class="banner_image" src="assets/imgs/logo-ipm.png" alt="ponto data image">
  <br><br>
  <ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">

    <ion-col size="auto">
      <ion-card *ngIf="showStartTrackButton">
          <ion-card-content>
              <ion-item button color="primary" class="ion-text-center" (click)="startTrack();addPonto();fingerPrintDigital()">
                <ion-label><ion-icon class="teste" name="finger-print"></ion-icon>
                   <br><br> <h1>INICIAR</h1></ion-label>
                  
              </ion-item>
            </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-card *ngIf="showStopTrackButton">
        <ion-card-content>
          <ion-item button color="danger" class="ion-text-center" (click)="stopTrack()">
            <ion-label><ion-icon name="arrow-back-circle-sharp"></ion-icon>
              <br><br><h1>VOLTAR</h1></ion-label></ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
  <br>
  <!-- <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime> -->
  <!-- <ion-item text-center> -->
      <!-- <p>Latitude atual: {{locationTracker.lat}}</p>
      <p>Longitude atual: {{locationTracker.lng}}</p>
      <p>Se você não ver os dados de localização, Ative no seu Celular.Obrigado.</p> -->
      
  <!-- </ion-item> -->
      <ion-item-group>
              <ion-item class="text-center">
                  
              </ion-item>
               
              <ion-item class="text-center">
                &copy; 2020 <br> Equipe de Desenvolvimento IPM
              </ion-item>
      </ion-item-group>

  <!-- <ion-list padding>

      <ion-item *ngFor="let ponto of pontos ">
          <ion-thumbnail item-left>
              <img [src]="ponto.image">
          </ion-thumbnail>
          <ion-icon item-right name="play"></ion-icon> 
          
      </ion-item>
  </ion-list>  -->


  <!-- <ion-item-group> -->
      <!-- <ion-item-divider color="light"> APP PONTO - IPM </ion-item-divider> -->
     <!--  <ion-item> -->
         <!--  <button ion-item color="dark" text-center block>IPM</button> -->
      <!-- </ion-item> -->
  <!-- </ion-item-group> -->

  <!-- <br><br><br> -->
  <!-- Desenvolvido por Antonio Carlos Franco.(FRANCO) -->
</ion-content>