<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">IPM - DIGITAL </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img class="banner_image" src="assets/imgs/logo-ipm.png" alt="ponto data image">
  <br><br>
  <ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">

    <ion-col size="auto">
      <ion-card *ngIf="showStartTrackButton">
          <ion-card-content>
              <ion-item button color="primary" class="ion-text-center" (click)="startTrack();fingerPrintDigital()">
                <ion-label><ion-icon class="teste" name="finger-print"></ion-icon>
                   <br><br> <h1>INICIAR</h1></ion-label>
                  
              </ion-item>
            </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-card *ngIf="showStopTrackButton">
        <ion-card-content>
          <ion-item button color="danger" class="ion-text-center" (click)="stopTrack()">
            <ion-label><ion-icon name="arrow-back-circle-sharp"></ion-icon>
              <br><br><h1>VOLTAR</h1></ion-label></ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>

  <ion-toolbar>

    <ion-title class="ion-text-center"><ion-label>&copy; 2020 <br> Equipe de Desenvolvimento IPM</ion-label></ion-title>
  </ion-toolbar>
</ion-footer>